  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview menu-open">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li routerLinkActive="active"><a  [routerLink]="['/empresas']" ><i class="fa fa-circle-o"></i>Empresa </a></li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>